<?php echo $header; ?>
<div class="content clearfix">
<div class="container">

    <?php echo $column_left; ?>

  <div class="main">
    <?php echo $search; ?>

    <?php echo $content_top; ?>
    <?php echo $categoryhome; ?>
   <?php echo $content_bottom; ?>
    <?php echo $column_right; ?>
  </div>
</div>
</div>
<?php echo $footer; ?>