<div class="main-top">
<div id="search" class="search__in">
  <input type="text" name="search" value="<?php echo $search; ?>" placeholder="Поиск" />
</div>
  <button  type="button" id="search_button" class="search-btn">Поиск</button>
  <div class="main-info">
    <a href="index.php?route=information/information&information_id=6" class="main-info__pay">Оплата и доставка</a>
    <a href="index.php?route=information/information&information_id=13" class="main-info__service">Услуги и сервис</a>
  </div>

</div>