*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #BBB5A2;
}
#content{
    width: 370px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 20px;
	color: #138AD9;
}
.operator_or_admin h2{
	margin: 0 0 12px 0;
	text-align: center;
	color: #466E88;
	font-size: 17px;
	font-family: Tahoma;
}
input{
    margin: 7px;
}
h3{
    color: #701818;
    text-align: center;
    font-size: 20px;
}

.form_style {
	float: left;
	width: 305px;
	padding: 14px 24px 0;
	margin: 20px 5px;
	background: #FEFEFE;
	border: 1px solid #CAD8DE;
	box-shadow: 0 1px 2px rgba(0,0,0,0.08);
	font: 14px/18px Arial, Tahoma, sans-serif;
	color: #444;
	box-shadow: 0 0 30px #111;
	-moz-box-shadow: 0 0 30px #111;
	-webkit-box-shadow: 0 0 30px #111;
}
.form_style .field {
	margin: 0 0 8px;
}
.form_style .field label {
	display: block;
	margin: 0 0 5px;
}
.form_style .field .input {
    border-radius: 4px;
}
.form_style .field input {
    font: 12px Arial, Tahoma, sans-serif;
	color: #444;
	width: 262px;
	padding: 9px 13px;
    border: 1px solid #D2D9DC;
	border-radius: 3px;
	box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 0 5px #F7F9FA;
	outline: none;
}
.form_style .field input:focus {
	border-color: #B7D4EA;
	box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC;
}

#forgot:hover {
	color: #444;
    text-decoration: underline;
}
.submit {
	overflow: hidden;
	margin: 14px -24px 0;
	padding: 14px 24px;
	background: #F0F5F7;
	border-top: 1px solid #DDE0E8;
	border-radius: 0 0 4px 4px;
	box-shadow: inset 0 1px #FFF, inset -1px -1px #F7FAFB, inset 1px 0 #F7FAFB;
	font-size: 11px;
}
#remember {
	display: block;
	margin: 5px 0 0;
	cursor: pointer;
}
#remember input {
	margin: 0 4px 0 0;
	vertical-align: middle;
}
.submit button {
	float: right;
	padding: 6px 30px;
	height: 30px;
	border: 1px solid #4E9EC7;
	color: #FFF;
	font: normal 14px Arial, Tahoma, sans-serif;
	background-color: #6CB9DB;
	cursor: pointer;
	text-shadow: 0 -1px rgba(0,0,0,0.15);
	outline: none;
}
.submit button:hover{
	background-color: #9FD7F0;
}
.form_style .submit button::-moz-focus-inner{border:0}
