  <div class="sidebar-banner">
    <?php foreach ($banners as $banner) { ?>
        <div class="sidebar-banner__pict">
          <img src="<?php echo $banner['image']; ?>" alt="<?php echo $banner['title']; ?>" />
        </div>
        <div class="sidebar-banner__title">Бесплатно<span>доставка и установка</span></div>
        <div class="sidebar-banner__text">
          <p>Доставка бесплатно<br>при заказе от 10000 рублей</p>
          <p>Установка бесплатно<br>при заказе от 17000 рублей</p>
        </div>
    <?php } ?>
  </div>






