<div class="main-banner">
    <?php foreach ($banners as $banner) { ?>
    <img src="<?php echo $banner['image']; ?>" alt="<?php echo $banner['title']; ?>" />
    <a href="/index.php?route=product/catalog"><span class="btn btn--banner">Смотреть каталог</span></a>
    <?php } ?>
</div>