/*-------------Grid-----------*/
@media (min-width: 640px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 939px;
  }
}

@media (min-width: 1150px) {
  .container {
    width: 1139px;
  }
}

/*------------end-------------*/
@media only screen and (max-width: 1150px) {
  .logo-block {
    width: 220px;
  }
  .header-main {
    width: 719px;
  }
  .search__in {
    width: 415px;
  }
  .preview-item {
    margin-right: 57px;
  }
  .preview-item:nth-child(4n) {
    margin-right: 57px;
  }
  .preview-item:nth-child(3n) {
    margin-right: 0;
  }
  .footer-nav--catalog {
    width: 320px;
    margin-left: 0;
  }
  .footer-nav--main {
    width: 220px;
  }
  .footer-menu--first {
    margin-right: 65px;
  }
  .footer-accent {
    padding-left: 0;
  }
  /*------------Catalog page--------------*/
  .catalog-item {
    width: 217px;
    height: 295px;
  }
  .catalog-item__wrap {
    padding: 20px 10px 15px;
  }
  /*----------------end-------------------*/
  /*-----------Product page----------------*/
  .product-list__title {
    width: 170px;
  }
  /*---------------end----------------------*/
}

@media only screen and (max-width: 991px) {
  .mains2 {
    float: left;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .container {
    padding: 0 20px;
  }
  .logo-block {
    display: none;
  }
  .menu-toggle {
    display: inline-block;
    margin-top: 12px;
  }
  .header {
    background: #ff7208;
  }
  .header .container {
    padding: 0 20px;
  }
  .header-main {
    width: 100%;
    height: 100px;
    background: none;
    border: none;
  }
  .header-top {
    overflow: visible;
  }
  .header-nav {
    display: none;
  }
  .header-phone {
    display: none;
  }
  .header-call {
    display: none;
  }
  .header-info {
    display: none;
  }
  .callback {
    margin-top: 22px;
  }
  .callback-link {
    position: relative;
    font-size: 18px;
    text-decoration: underline;
    border: none;
    background: none;
  }
  .callback-link:before {
    content: ' ';
    position: absolute;
    top: -8px;
    left: -25px;
    background-image: url(../img/sprite.png);
    background-position: -80px 0px;
    width: 39px;
    height: 39px;
  }
  .callback-link:hover {
    color: #fff;
    text-decoration: none;
    border: none;
  }
  .callback span {
    display: none;
  }
  .content {
    padding: 0 0 50px;
  }
  .sidebar {
    display: none;
  }
  .main {
    width: 100%;
    padding-left: 0;
    padding: 0 10px 0 10px;
  }
  .main-top {
    margin: 0 -20px;
    padding: 14px 20px;
    -webkit-border-radius: 0;
            border-radius: 0;
    border: none;
  }
  .search {
    width: 100%;
  }
  .search__in {
    width: 100%;
    height: 65px;
  }
  .search__in:before {
    top: 12px;
    left: 27px;
    background-image: url(../img/sprite.png);
    background-position: -80px -39px;
    width: 37px;
    height: 38px;
  }
  .search__in input {
    padding-left: 94px;
    font-size: 22px;
    border: 2px solid #a5a9a9;
  }
  .search__in input::-webkit-input-placeholder {
    text-transform: uppercase;
    opacity: 1;
  }
  .search__in input:-moz-placeholder {
    text-transform: uppercase;
    opacity: 1;
  }
  .search__in input::-moz-placeholder {
    text-transform: uppercase;
    opacity: 1;
  }
  .search__in input:-ms-input-placeholder {
    text-transform: uppercase;
    opacity: 1;
  }
  .search-btn {
    display: none;
  }
  .main-info {
    display: none;
  }
  .main-banner {
    display: none;
  }
  .catalog-preview {
    margin-top: 17px;
    border: none;
  }
  .catalog-preview__title {
    margin-bottom: 28px;
    font-size: 30px;
  }
  .preview-list {
    text-align: center;
  }
  .preview-item {
    text-align: left;
    border: none;
  }
  .preview-item:nth-child(n+1) {
    margin: 0 20px;
  }
  .preview-item__type {
    margin-bottom: 17px;
    font-family: "OpenSans";
    color: #878787;
  }
  .preview-item__type span {
    display: none;
  }
  .preview-item__type span.mob {
    display: inline-block;
  }
  .preview-item__pict {
    margin-bottom: 14px;
  }
  .preview-item__price {
    margin-bottom: 12px;
  }
  .preview-item__price p {
    display: none;
  }
  .preview-item__price p.mob {
    display: block;
    font: 500 14px "OpenSans";
    text-align: left;
    letter-spacing: 0;
  }
  .btn--preview {
    margin: 0;
  }
  .popular {
    margin-top: 28px;
    border: none;
  }
  .popular__title {
    margin-bottom: 6px;
    font-size: 30px;
  }
  .popular-item {
    border: none;
  }
  .popular-item__type {
    display: block;
  }
  .popular-item__pict {
    margin-bottom: 13px;
  }

  .popular-item__price {
    display: none;
  }
  .popular-item__price--mob {
    display: block;
    margin-bottom: 15px;
    font: 500 14px "OpenSans";
  }
  .popular-item__price--mob span {
    font-weight: 500;
    color: #454545;
  }
  .popular .slick-dots {
    margin-top: 28px;
  }
  .popular .slick-dots li button {
    width: 10px;
    height: 10px;
  }
  .btn--popular {
    display: block;
  }
  .news-block--mob {
    display: block;
    margin-top: 23px;
  }
  .news-block__title {
    margin-bottom: 24px;
    font-size: 30px;
  }
  .news-item {
    display: inline-block;
    width: 33%;
    margin-bottom: 21px;
    padding: 0 50px 0 0;
    border-bottom: none;
  }
  .news-item__date {
    float: none;
    display: block;
    margin-bottom: 5px;
  }
  .news-item__descr {
    padding-left: 0;
  }
  .news-item__title {
    display: block;
    margin-bottom: 10px;
  }
  .news-item__link {
    display: table;
    margin: 27px auto 0;
  }
  .about {
    margin-top: 72px;
  }
  .about__title {
    margin-bottom: 32px;
    font-size: 30px;
  }
  .about__text {
    font-size: 14px;
    overflow: hidden;
  }
  .about .text-hide {
    display: none;
  }
  .read-link {
    display: block;
    float: right;
    margin-top: 10px;
  }
  .footer {
    padding: 27px 0 30px;
  }
  .contact {
    float: none;
    margin: 0 auto 29px;
    text-align: center;
  }
  .contact-social {
    margin-bottom: 19px;
  }
  .footer-nav--catalog {
    width: 250px;
  }
  .footer-nav--main {
    width: auto;
  }
  .footer-nav__title:after {
    width: 55px;
  }
  .footer-menu--first {
    margin-right: 0;
  }
  .footer-accent {
    margin-top: 22px;
  }
  /*------------Catalog page--------------*/
  .filter {
    display: none;
  }
  .catalog {
    margin-top: 39px;
    text-align: center;
    border-bottom: none;
  }
  .catalog__title {
    margin-bottom: 0;
    font-size: 30px;
    text-align: left;
    border-bottom: none;
  }
  .catalog-descr {
    height: auto;
    margin-bottom: 80px;
    text-align: left;
  }
  .catalog-descr__pict {
    display: none;
  }
  .catalog-descr__text {
    padding-left: 0;
  }
  .catalog-descr__link {
    display: none;
  }
  .catalog-item {
    float: none;
    display: inline-block;
    width: 155px;
    margin: 0 70px 47px;
    vertical-align: top;
    text-align: left;
    overflow: visible;
  }
  .catalog-item:nth-child(n+9) {
    display: none;
  }
  .catalog-item:hover .catalog-item__wrap {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .catalog-item__wrap {
    padding: 0;
    border: none;
  }
  .catalog-item__type {
    display: block;
    margin-bottom: 17px;
    font: 16px "OpenSans";
    color: #878787;
  }
  .catalog-item__pict {
    height: 157px;
    margin-bottom: 13px;
  }
  .catalog-item__pict img {
    width: 46.5%;
  }
  .catalog-item__title {
    display: none;
  }
  .catalog-item__price {
    display: none;
    margin-bottom: 0;
  }
  .catalog-item__price--mob {
    display: block;
    margin-bottom: 12px;
    font: 500 14px "OpenSans";
  }
  .catalog-item__count {
    display: none;
  }
  .catalog-item__btn {
    display: none;
  }
  .catalog-item__info {
    display: none;
  }
  .btn--catalog {
    display: inline-block;
    width: 107px;
    height: 35px;
    font-size: 12px;
    line-height: 35px;
  }
  .btn--catalog span:after {
    width: 55px;
    height: 35px;
  }
  .catalog-info__btn {
    position: relative;
    display: block;
    float: right;
    top: 2px;
    width: 33px;
    height: 33px;
    font: italic 18px "TimesNewRoman";
    color: #53ace4;
    text-align: center;
    line-height: 31px;
    border: 1px solid #4faeea;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.38);
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.38);
  }
  .catalog-info__btn:hover {
    color: #fff;
    background: #4faeea;
  }
  .pagination {
    margin-top: -15px;
  }
  .pagination__title {
    margin-right: 22px;
    font-size: 20px;
  }
  .pagination-list li {
    margin-right: 36px;
  }
  .pagination-list li:last-child {
    margin-right: 0;
  }
  .pagination-list li.active a, .pagination-list li:hover a {
    -webkit-border-radius: 9px;
            border-radius: 9px;
  }
  .pagination-list li a {
    width: 56px;
    height: 54px;
    font-size: 20px;
    line-height: 54px;
  }
  .pagination__next {
    top: -4px;
    margin-left: 15px;
    background-image: url(../img/sprite.png);
    background-position: -77px -78px;
    width: 31px;
    height: 10px;
  }
  .pagination__all {
    margin-left: 14px;
    font-size: 20px;
  }
  .pagination-total {
    display: none;
  }
  .advantage {
    margin: 75px 0 67px;
  }
  .advantage-list {
    margin: 10px 0 75px;
  }
  /*----------------end-------------------*/
  /*-----------Product page----------------*/
  .product__title {
    font-size: 30px;
  }
  .product-pict {
    float: none;
    display: block;
    width: 100%;
  }
  .product-descr {
    padding-left: 0;
  }
  .product-descr__price {
    width: 180px;
    height: 45px;
    margin-top: 20px;
    font-size: 30px;
    line-height: 45px;
  }
  .product-descr__text {
    font-size: 16px;
  }
  .product-list li {
    font-size: 20px;
  }
  .product-list__title {
    width: 220px;
  }
  .product-thumb__item {
    width: 24%;
    height: 90px;
    margin-right: 1.3%;
  }
  /*---------------end----------------------*/
}

@media only screen and (max-width: 725px) {
  .preview-list {
    height: 665px;
  }
  .preview-item:nth-child(n+1) {
    margin: 0 50px 27px;
  }
  .news-item {
    width: 44%;
    padding-right: 60px;
  }
}
