<?php echo $header; ?>
<div class="content clearfix">
  <div class="container">
  <?php echo $column_left; ?>
  <div class="main">
    <?php echo $search; ?>
      <h1><?php echo $heading_title; ?></h1>
      <?php echo $description; ?><?php echo $content_bottom; ?></div>
    <?php echo $column_right; ?></div>
</div>
<?php echo $footer; ?>